<app-menu></app-menu>
<div class="row">
  <div class="col-3">
  </div>

  <div class="col-6" align="center">
      <h2>-->Bier-lijst</h2>
      <div class="list-container">
        <div class="list-group-item" *ngFor="let bier of bieren">
          <bier-thumbnail (click)="handleThumbnailClick(bier.naam)" [bier]="bier"></bier-thumbnail>
          <div style="..."><button class="btn btn-danger" (click)="BierService.deleteBier(bier)"> X </button></div>
        </div>
      </div>
    </div>
</div>

<br>

<div align="center">
  <button class="btn btn-lg btn-outline-primary" (click)="open()">Voeg een bier toe</button>
</div>

<div class="col-3">
</div>

<br>


