<h2>Bier-lijst</h2>

<div class="row">
  <div class="col-3">

  </div>
  <div class="col-6">
    <div *ngFor="let b of bier">
      <div class="row">
        <div class="col-10">
          <ul class="list-group" >
            <li class="list-group-item">
              {{b.naam}}
              {{b.alcoholPercentage}}%
              {{b.merkNaam}}
            </li>
          </ul>
        </div>
        <div class="col-2">
          <button class="btn btn-danger" (click)="deleteBier(b.id)"> X </button>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="col-3">

    <button class="btn btn-lg btn-outline-primary" (click)="open()">Voeg een bier toe</button>

  </div>

</div>
