<div align="center">


<app-menu></app-menu>
  <br/>
  <app-zoekbalk></app-zoekbalk>
</div>

  <div class="row" align="center">
  <div class="col-3">
  </div>

  <div class="col-6">
      <h3>-->Bier-lijst</h3>
      <div class="list-container">

        <div class="list-group-item" *ngFor="let bier of bieren">
          <div class="row">

          <bier-thumbnail class="col-10" (click)="openBierMetid(bier.id)" [bier]="bier"></bier-thumbnail>
            <div style="..." class="col-md-1"><button class="btn btn-danger" (click)="deleteBier(bier.id)"> X </button></div>
        </div>
        </div>
      </div>
    </div>
</div>
<br>

<div align="center">
  <button class="btn btn-lg btn-outline-primary" (click)="open()">Voeg een bier toe</button>
</div>

<div class="col-3">
</div>

<br>

