<!--The content below is only a placeholder and can be replaced.-->
<body>
<div style="text-align:center">
  <h1>Welkom bij de BierWijnApp</h1>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div style="text-align:center" id="bier" class="col-sm-4">
    <br><br><br><br><br><br>
    <h1>Bier</h1>
    <br><br><br><br><br><br><br>
    <img src="../assets/11-pint-beer-png-image.png" class="img-fluid" alt="Responsive image" width="500">
  </div>
  <div style="text-align:center" id="wijn" class="col-sm-4">
    <br><br><br><br><br><br>
    <h1>Wijn</h1>
    <br><br><br>
    <img src="../assets/glazenwijnvrijstaand.png" class="img-fluid" alt="Responsive image" width="315">
  </div>
  <div class="col-sm-2">
  </div>
</div>
</body>



<!--</div>-->

<!--<h1>-->
<!--Welcome to {{ title }}!-->
<!--</h1>-->
<!--<h1>-->
<!--Maak een keuze:-->
<!--</h1>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->
<!--<br><br>-->
<!--<br><br>-->
<!--<br><br>-->
<!--<br>-->

<!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->



<!--</>-->


