<!--The content below is only a placeholder and can be replaced.-->
<body>
<div align="center" style="background: #4f84ce">
  <br>
  <h1 style="color: azure">BierWijnApp</h1>
  <br>
</div>
<div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<br>
<router-outlet></router-outlet>
<br>
<br>
<br>
<br>
<div align="center" style="background: #4f84ce">
  <br>
  <h6 style="color: azure">&copy; 2018 T.A.P. Enterprises Apeldoorn, The Netherlands</h6>
  <p style="color: azure"><font size="2">Authors: T. van Zuuren, A. Strengers, P. van der Burgt</font></p>
  <br>
</div>


