<div class="row" align="center">
  <div class="col-3">
  </div>

  <div class="col-5">

    <div class="form-group">

      <input #box class="form-control" (keyup)=findbeers(box.value)>
      <ul class="list-group" *ngIf="true">
        <li class="list-group-item" *ngFor="let bier of filteredbieren">
          <button type="button" class="btn btn-link" [routerLink]="['/bier-lijst', bier.id]"> <b>Bier:</b> {{ bier.naam }} <b>Merknaam:</b> {{bier.merkNaam}}</button>
        </li>
        <li class="list-group-item" *ngIf="noSuggestionsFound">Geen resultaat gevonden</li>
      </ul>
    </div>
  </div>


  <div class="col-1">
    <button class="btn btn-success" (click)="search(bier)">Search</button>

  </div>

  <div class="col-3">
  </div>


</div>
