<div align="center">
  <app-menu></app-menu>
</div>
<br>
<br>

<div class="row">
  <div class="col-3">
  </div>

  <div class="col-6">
    <div>Naam: {{bier.naam}}  {{bier.alcoholPercentage}} %</div>
    <div>Merk: {{bier.merkNaam}}</div>
    <br>
    <div>Plaatje: </div>
    <img src="http://localhost:8080/bier/{{bier.id}}/plaatje">
    <br>
    <div>Opmerkingen:</div>
  </div>





  <div class="col-3">
    <angular-file-uploader
      [config]="afuConfig">
    </angular-file-uploader>
  </div>
</div>
