<div align="center">
  <app-menu></app-menu>
</div>
<br>
<br>

<div class="row">
  <div class="col-3">
  </div>

  <div class="col-6">
    <div class="row">
      <div class="col-6">
        <div>Naam: {{bier.naam}} {{bier.alcoholPercentage}} %</div>
        <div>Merk: {{bier.merkNaam}}</div>
        <br>
        <div>Plaatje:</div>
        <img src="http://localhost:8080/bier/{{bier.id}}/plaatje">
        <br>
        <div>Opmerkingen:</div>
        <div id="divpreview" [style.background]="bier.kleur">&nbsp;</div>
      </div>
      <div class="col-6">
        <angular-file-uploader
          [config]="afuConfig">
        </angular-file-uploader>
      </div>
    </div>


      <div class="row">
        <div class="col-sm-6">
          <h4>Reviews</h4>
          <div id="reviews-ophalen" *ngFor="let review of gevondenReview">
            Gebruiker:
            {{review.gebruiker}}<br>
            Review:
            {{review.reviewTekst}}<br>
            Cijfer:
            {{review.cijfer}}<br>
            <br>
          </div>
        </div>


        <div class="col-sm-6">
          <div id="review-achterlaten">
            <h4>Laat een review achter</h4>
            <form>
              <div class="form-group">
                <label for="gebruiker">Gebruiker</label>
                <input [(ngModel)]="newReview.gebruiker" placeholder="Gebruiker" name="gebruiker" type="text" class="form-control" id="gebruiker" required>
              </div>
              <div class="form-group">
                <label for="reviewtekst">Beschrijving</label>
                <input [(ngModel)]="newReview.reviewTekst" placeholder="Beschrijving" name="beschrijving" type="text" class="form-control" id="beschrijving" required>
              </div>
              <div class="form-group">
                <label for="cijfer">Cijfer</label>
                <input [(ngModel)]="newReview.cijfer" placeholder="Cijfer" name="cijfer" type="number" class="form-control" id="cijfer" required>
              </div>

              <button class="btn btn-success" (click)="addReview()">Laat uw review achter</button>
            </form>
          </div>
        </div>
      </div>
  </div>
      <div class="col-3">
      </div>
</div>
