<div align="center">
  <app-menu></app-menu>
</div>
<br>
<br>

<div class="row">
  <div class="col-2">
  </div>

  <div class="col-8">
    <div class="row">
      <div class="col-6">
        <b>Naam:</b><div>{{bier.naam}}</div>
        <b>Alcoholpercentage</b><div>{{bier.alcoholPercentage}} %</div>
        <b>Merk:</b><div>{{bier.merkNaam}}</div>
        <b>Kleur:</b><div style="max-width: 10%" id="divpreview" [style.background]="bier.kleur">&nbsp;</div>
        <b>Algemene beschrijving:</b><div> {{bier.beschrijving}}</div>
      </div>
      <div class="col-6">
        <div class="container" style="display: flex; justify-content: center">
          <div *ngIf="bier.plaatje != null">
            <img class="rounded-circle" style='height: 300px; width: 300px; border: solid darkblue; object-fit: contain' src="knutselcrud-app/src/assets/beer.png">
            <img src="http://localhost:8080/bier/{{bier.id}}/plaatje">
          </div>
        </div>
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col-sm-6">
        <div><h4>Reviews</h4></div>
        <div style="overflow: auto; height: 338px;">
          <div *ngFor="let review of gevondenReview">
            <div style="border: 1px solid darkblue; overflow: hidden">
              <div style="width: 85%; float: left; border-right: 1px solid darkblue">
                <div style="border-bottom: 1px solid darkblue">
                  <b>Gebruiker:</b>
                  {{review.gebruiker}}<br>
                </div>
                <div>
                  <b>Review:</b>
                  {{review.reviewTekst}}<br>
                </div>
              </div>
              <div style="width: 15%; float: right">
                &nbsp;<b>Cijfer:</b>
                {{review.cijfer}}
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>


      <div class="col-sm-6">
        <h4>Laat een review achter</h4>
        <div class="review-achterlaten">
          <form>
            <div class="form-group">
              <label for="gebruiker">Gebruiker</label>
              <input [(ngModel)]="newReview.gebruiker" placeholder="Gebruiker" name="gebruiker" type="text" class="form-control" id="gebruiker" required>
            </div>
            <div class="form-group">
              <label for="reviewtekst">Beschrijving</label>
              <input [(ngModel)]="newReview.reviewTekst" placeholder="Beschrijving" name="beschrijving" type="text" class="form-control" id="beschrijving" required>
            </div>
            <div class="form-group">
              <label for="cijfer">Cijfer</label>
              <input [(ngModel)]="newReview.cijfer" placeholder="Cijfer" name="cijfer" type="number" class="form-control" id="cijfer" required min="0" max="10">
            </div>

            <button class="btn btn-success" (click)="addReview()">Laat uw review achter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
  </div>
</div>
