<div class="row">
  <div class="col-1">
  </div>

  <div class="col-11">
    <div>
      <p>
        <b>Over de BierWijnApp:</b>
        <br>
        De BierWijnApp is een leerproject dat is opgezet door drie Kadaster Java-trainees  in 2018.
        <br>
        Doel van dit leerproject was om binnen het traineetraject dat liep van februari t/m decemeber 2018 extra ervaring
        <br>
        op te doen in verschillende onderdelen van het developersvak. Een overzicht van wat er gebruikt is aan talen/technieken/libraries om deze applicatie op te zetten:
      <ul>
        <li>Java</li>
        <li>PostrgresSQL</li>
        <li>Angular</li>
        <li>Spring Boot</li>
        <li>Bootstrap</li>
      </ul>
      <br>
      <br>
    </div>
    <div>
      <b>De ontwikkelaars:</b>
    </div>
    <br>
    <div class="row">
      <div style="justify-content: center">
        <figure>
          <img class="rounded-circle" style='height: 200px; width: 200px; border: solid black; object-fit: cover' src="../../assets/thijsvz.jfif">
          <figcaption style="text-align: center"><b>T. van Zuuren</b></figcaption>
        </figure>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div style="justify-content: center">
        <figure>
          <img class="rounded-circle" style='height: 200px; width: 200px; border: solid black; object-fit: cover' src="../../assets/axels.jfif">
          <figcaption style="text-align: center"><b>A. Strengers</b></figcaption>
        </figure>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div style="justify-content: center">
        <figure>
          <img class="rounded-circle" style='height: 200px; width: 200px; border: solid black; object-fit: cover' src="../../assets/pimvdb.jfif">
          <figcaption style="text-align: center"><b>P. van der Burght</b></figcaption>
        </figure>
      </div>
    </div>
    <br>
  </div>
</div>

