<br>
<br>
<br>
<br>


<div align="center">

  <div class="row">

    <div class="col-3">
    </div>

    <div class="col-6">
      <div class="row">

        <div class="col-5">
          <div class="zoom">
            <a routerLink="/bier-lijst" routerLinkActive="active"><img src="../assets/beer.png" class="img-fluid"
                                                                       alt="Responsive image" width="315"></a>
          </div>

        </div>

        <div class="col-2">
        </div>
        <div class="col-5">
          <div class="zoom">
            <a routerLink="/wijn-center" routerLinkActive="active"><img src="../assets/wine.png" class="img-fluid"
                                                                        alt="Responsive image" width="315"></a>
          </div>

        </div>


      </div>
    </div>

    <div class="col-3">
    </div>
  </div>
</div>
